#main2{
    background-color: lightgrey;
    -webkit-border-radius: 26px;
-moz-border-radius: 26px;
border-radius: 26px;
}

#head1 {
    padding: 10px;
    text-align: center;
    font-size: 36px;
}


.main .body .page {
    text-align:left;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
    float: left;
    margin: 8px;
    height: 5%;
    width: 30%;
    -webkit-box-shadow: 9px 9px 16px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow:    9px 9px 16px 0px rgba(0, 0, 0, 0.75);
    box-shadow:         9px 9px 16px 0px rgba(0, 0, 0, 0.75);
    background-color: yellow;
    


}


